    <div class="container">
      {{!-- {{#each products}} --}}
      <div class="card">
        <div class="card-header">
          <h2>{{name}}</h2>
          <span class="price">${{price}}</span>
        </div>
        <div class="card-body">
          <p>{{description}}</p>
        </div>
        <div class="card-footer">
          <span class="rate">{{rate}}/5</span>
        </div>
      </div>
      {{!-- {{/each}} --}}
    </div>